body {
  margin: 0;
  font-family: system-ui;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.doctor{
  display:inline-flex;
  margin-bottom:10px;
}
.leaflet-container{
  width: 100vw;
  height: 70vh;
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  border-radius: 4px;
}

.leaflet-container a.leaflet-popup-close-button{
  padding : 10px 10px 0 0;
  font:22px/20px Tahoma, Verdana, sans-serif;
}
h3{
  padding: 3px 0 0 15px;
}

h5{
  color:#a2a2a2;
}